<template>
  <div>
    <h1>Header, hello {{ name }}!</h1>
    <router-link to="/profile">To profile</router-link>
    <router-link to="/">Projects</router-link>
  </div>
</template>

<script>
export default {
  name: 'app-header',
  data() {
    return {
      name: 'Andrey',
    };
  },
};
</script>

<style></style>
