<template>
  <div>
    <h1>This is a profile</h1>
    <overview></overview>
    <app-main></app-main>
  </div>
</template>

<script>
import Overview from './Overview';
import AppMain from './Main';

export default {
  components: {
    AppMain,
    Overview,
  },
  name: 'profile',
};
</script>

<style></style>
