<template>
  <div id="app">
    <app-header></app-header>
    <img src="./assets/logo.png">
    <router-view/>
    <app-footer></app-footer>
  </div>
</template>

<script>
import AppHeader from './components/Header';
import AppFooter from './components/Footer';

export default{
  components: { AppHeader, AppFooter },
  name: 'App',
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
